<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center">
      <h2>Famous Cuisines</h2>
    </div>
  </div>
  <div class="row justify-content-center">
    {{#each cuisines as |cuisine|}}
      <div class="col-6 cuisine">
        <!-- display recipe in a card -->
        <a href="/cuisine/{{cuisine.id}}">
          <div class="card">
            <img class="card-img-top cuisine-image" src="/images/{{cuisine.filename}}" alt="{{cuisine.name}} image">
            <div class="card-body">
              <!--
              <h4 class="card-title text-center">{{cuisine.name}}</h4> -->
              <p class="card-text"><strong>Description:</strong>{{cuisine.description}}</p>
            </div>
          </div>
        </a>
      </div>
    {{/each}}
  </div>
</div>


<!--
      <script src="/public/js/homepage.js"></script>
      <script src="/public/js/logout.js"></script> -->